body {
    background-color: antiquewhite;
}
.header {
    background-color: rgb(61, 60, 60);
    font-size: 50px;
    color: rgb(235, 83, 159);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.time-flex {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.flex-item {
    background-color:  rgb(235, 83, 159);
    height: 200px;
    width: 250px;
    border: 1px solid black;
    border-radius: .4cm;
    color: white;
    margin: 10px;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

